|<?php
|/*
|Template Name: Archives
|*/
|?>

- get_header();
.container
	- $archive_var = init_archive_display_var()
	| <?php $postslist = get_posts(array(
	|  'posts_per_page' => $archive_var[posts_per_page],
	|  'order'=> "DES",
	|  'orderby' => 'date' ,
	|  'offset' => $archive_var[offset] )); ?>

	.row.corner-round
		- $count = 0;
		- foreach ( $postslist as $post ) :
		- setup_postdata( $post );
		.col-lg-4
			h1
				- the_shortlink(get_the_title());
			h2.date
				- the_date();

			.post-featured-image
				- if ( has_post_thumbnail() ) :
				a(href="<?php the_permalink(); ?>", title="<?php the_title_attribute(); ?>")
					- the_post_thumbnail(array(250,350));
				- endif;

			.post-body
				- the_excerpt('Pour en savoir plus');
		- if ($count%3 == "2"):
		.row
		- endif;

		- $count++;
		- endforeach;
		- wp_reset_postdata();

		.col-lg-12#content-footer
			div
				|	<?php $args = array(
				|		'base'               => '%_%',
				|		'format'             => '?paged=%#%',
				|		'total'              => $archive_var[page_number],
				|		'current'            => $archive_var[paged],
				|		'show_all'           => false,
				|		'end_size'           => 1,
				|		'mid_size'           => 2,
				|		'prev_next'          => true,
				|		'prev_text'          => __('«« '),
				|		'next_text'          => __(' »»'),
				|		'type'               => 'plain',
				|		'add_args'           => false,
				|		'add_fragment'       => '',
				|		'before_page_number' => '',
				|		'after_page_number'  => '');
				|		echo paginate_links($args); ?>

- get_footer();
