footer
	.container
		.row.corner-round
			.col-lg-4.widget-area#footer1
				ul
					-dynamic_sidebar( 'Footer 1 Widgets Area' );
			.col-lg-4.widget-area#footer2
				ul
					-dynamic_sidebar( 'Footer 2 Widgets Area' );
			.col-lg-4.widget-area#footer3
				ul
					-dynamic_sidebar( 'Footer 3 Widgets Area' );
		.row
			.col-lg-12.widget-area#page-footer
				ul
					-dynamic_sidebar( 'Footer 4 Widgets Area' );

script(src!="<?php echo get_stylesheet_directory_uri(); ?>/lib/jquery/js/jquery.js")
script(src!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/js/bootstrap.js")
- wp_footer();
| </body>
| </html>
