footer
	.container
		.row
			.col-lg-4 footer 1
				ul#Footer1
					-dynamic_sidebar( 'Footer 1 Widgets Area' );
			.col-lg-4 footer 2
				ul#Footer2
					-dynamic_sidebar( 'Footer 2 Widgets Area' );
			.col-lg-4 footer 3
				ul#Footer3
					-dynamic_sidebar( 'Footer 3 Widgets Area' );

script(src!="<?php echo get_stylesheet_directory_uri(); ?>/lib/jquery/js/jquery.js")
script(src!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/js/bootstrap.js")
- wp_footer();
| </body>
| </html>
