- get_header();
.container
	.row.corner-round
		.col-lg-8(class="last-post")
			- if ( have_posts() ) :
			- the_post();
			h1
				- the_shortlink(get_the_title());
			h2.date
				- the_date();
			.post-featured-image
				- the_post_thumbnail(array(500,500));

			.post-body
				- the_content();
			- endif;
		.col-lg-4
			- get_template_part("sidebar");
	.row.corner-round
		- static $count = 1;
		- if ( have_posts() ) :
		- while ( have_posts() ) :
		- the_post();
		- if ($count > "3") { break; }
		- $count++;
		.col-lg-4
			h1
				- the_shortlink(get_the_title());
			h2.date
				- the_date();

			.post-featured-image
				- if ( has_post_thumbnail() ) :
				a(href="<?php the_permalink(); ?>", title="<?php the_title_attribute(); ?>")
					- the_post_thumbnail(array(250,350));
				- endif;

			.post-body
				- the_excerpt('Pour en savoir plus');

		- endwhile;
		- endif;
		.col-lg-12.widget-area#content-footer
				ul
					-dynamic_sidebar( 'Frontpage Footer Widgets Area' );

- get_footer();
