- get_header();
.container
	.row
		.col-lg-8
			- if ( have_posts() ) :
			- the_post();
			h1
				- the_shortlink(get_the_title());
			h4
				- the_date();
			.post-featured-image
				- the_post_thumbnail(array(500,500));
				
			.post-body
				- the_content();
			- endif;
			
		.col-lg-4
			- get_template_part("sidebar");
	.row
		.col-lg-12
		- if ( have_posts() ) :
		- while ( have_posts() ) :
		- the_post();
		h1
			- the_shortlink(get_the_title());
		h4
			- the_date();
		
		.post-featured-image
			- the_post_thumbnail(array(500,500));
		
		.post-body
			- the_content();
			
		- endwhile;
		- endif;

- get_footer();
