doctype html

| <html <?php language_attributes(); ?> class="no-js">

head
	meta(charset!="<?php bloginfo('charset'); ?>")
	meta(name="viewport" content="width=device-width")
	title
		- wp_title();

	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/styles.css")
	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/css/bootstrap.css")
	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/css/bootstrap-theme.css")

	- wp_head();

| <body <?php body_class(); ?>>
header
	h1
		- bloginfo( 'name' );

- get_template_part( 'nav' );
