doctype html

| <html <?php language_attributes(); ?> class="no-js">

head
	meta(charset!="<?php bloginfo('charset'); ?>")
	meta(name="viewport" content="width=device-width")
	title
		- wp_title();

	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/styles.css")
	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/css/bootstrap.css")
	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/lib/bootstrap/css/bootstrap-theme.css")

	- wp_head();

| <body <?php body_class(); ?>>
header.page-header
	.container
		|<a href="<?php echo get_settings('home'); ?>">
		//ugly hack using icon as logo need to be changed to cusom-logo when updating to WP 4.5
		| <img src="<?=  site_icon_url($size=40);?>"/>
		h1
			- bloginfo( 'name' );
		h2
			- bloginfo( 'description' );
		|</a>

- get_template_part( 'nav' );
