- get_header();

.container
	.row.corner-round
		- if ( have_posts() ) :
		- the_post();
		.col-lg-12
			h1
				- the_title();

			.post-featured-image-single
				- the_post_thumbnail(array(400,400));

			.post-body
				- the_content();
		- endif;

- get_footer();
