- get_header();

.container
	.row.corner-round
		.col-lg-12
			- if ( have_posts() ) :
			- the_post();
			h1
				- the_title();
			h4
				- the_date();
			.post-featured-image
				- the_post_thumbnail(array(500,500));

			.post-body
				- the_content();
			- endif;

- get_footer();
