- get_header();

.container
	.row.corner-round
		.col-lg-10
			- if ( have_posts() ) :
			- the_post();
			h1
				- the_title();
			h2.date
				- the_date();
			.post-featured-image-single
				- the_post_thumbnail(array(400,400));

			.post-body
				- the_content();
			- endif;

- get_footer();
