// Color pallette: To be used in css to keep consitent colors

$primary-color-dark:   #044F7A;
$primary-color:        #82B3D4;
$primary-color-light:  #FFFFFF;
$secondary-color-light:#D8C7AB;
$primary-text-color:   #000000;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
