
@import 'palette';


body.oniric {
   font-family: 'Quicksand', sans-serif;
   background-color: $secondary-color-light;
   a,
   a:hover {
      color: $primary-color-dark;
      text-decoration: none;
   }
}

header.page-header {
   background-color: $primary-color;
   color: $primary-color-dark;
   text-align: center;
   margin: 0;
   h1 {
      margin:0;
   }
   h2 {
      font-size: medium;

   }
}
nav.navbar {
   margin-bottom: 0;
}
.widget-area {
   h2 {
      font-size: x-large;
   }
   ul {
      padding:10px;
   }
   li {
      list-style-type: none;
   }
}

.carousel-caption {
   top: 0px !important;
   left: 0px !important;
   padding:0 !important;
}


.carousel-post-title {
   margin:0;
   padding:5px;
   a,
   a:hover{
      border-radius: 5px;
      background-color: $primary-color;
      color: $secondary-text-color;
      font-size: medium;
      padding: 5px;
   }
}

.corner-round {
   border-radius: 25px;
}

.row {
   background-color: $primary-color-light;
   margin: 10px 0 0 0;

//   .last-post{
//      border-right: solid $secondary-color-light 10px;
//   }

   h1 {
      font-size: xx-large;
      margin-bottom: 10px;
      margin-top: 15px;
      color:$primary-color-dark;
   }

   h2.date {
      font-size: medium;
      margin-top: 0;
      font-style: italic;
   }

   h2 {
      font-size: large;
   }

   p {
      text-align: justify;
   }
}

#frontpage-footer {
   text-align: center;
   font-size: large;
   margin-top: 0;
   >div {
      padding: 10px 0;
   }
}

#page-footer{
   text-align: center;
   background-color: $secondary-color-light;
}
.post-featured-image {
   text-align: center;
   margin: 20px;
}

.post-featured-image-single {
   float: right;
   margin: 20px;
}
